<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @borrower.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @borrower.email %>
</p>

<%= link_to 'Edit', edit_borrower_path(@borrower) %> |
<%= link_to 'Back', borrowers_path %>
