<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @books_on_loan.book_id %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @books_on_loan.borrower_id %>
</p>

<%= link_to 'Edit', edit_books_on_loan_path(@books_on_loan) %> |
<%= link_to 'Back', books_on_loans_path %>
