<h1>Listing of Books On Loan</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Isbn</th>
      <th>Borrower Name</th>
      <th>Borrower Email</th>
    </tr>
  </thead>

  <tbody>
    <% @books_loaned.each do |item| %>
      <tr>
        <td><%= item.book.author %></td>
        <td><%= item.book.title %></td>
        <td><%= item.book.isbn %></td>
        <td><%= item.borrower.name %></td>
        <td><%= item.borrower.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', librarian_index_path %>

